.header-top {
  background: @bg-blue;
  padding: 0.5625rem 0;
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: no-wrap;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  color: white;
  @media (max-width: 767px) {
    padding: 0.625rem 0;
  }
  &__elem {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    img {
      min-height: 1.25rem;
    }
  }
}