.header-top {
  background: @bg-blue;
  padding: 0.5625rem 0;
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: no-wrap;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  color: white;
  @media (max-width: 767px) {
    padding: 0.625rem 0;
  }
  &__elem {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    img {
      min-height: 1.25rem;
    }
  }
}

/*
.slick-dots li.slick-active button::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: 18px;  // większe niż kropka
  height: 18px;
  border: 2px solid #333;
  border-radius: 50%;
  box-sizing: border-box;
}
*/

.navbar__icons__div {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    // top: 0;
    // left: 0;
    width: 44px;  // większe niż kropka
    height: 44px;
    border: 1px solid @br-gray;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0; // obramowanie za obrazkiem
  }
  img {
    position: relative;
    z-index: 1; // ikona nad obramowaniem
  }
}