@import 'product.less';

.promotions {
  padding: 50px 0;
  background-color: #f9f9f9;
  overflow-x: hidden;

  .active {
    color: #0068FF;
  }

  .container {
    position: relative;
  }

  .promotions__slider, .bestsellers_slider {
    .slick-slide {
      // margin: 0 10px;
    }

    .slick-prev,
    .slick-next {
      background: #fff;
      border: 1px solid #ccc;
      width: 40px;
      height: 40px;
      z-index: 10;
    }

    .slick-prev:before,
    .slick-next:before {
      color: #333;
      font-size: 20px;
    }
  }

  
// nav-tabs
.nav-tabs {
  border-bottom: none;
  display: flex;
  row-gap: 1rem;
  
  li {
    font-size: 2rem;
    font-weight: 800;
  }
}

.nav-tabs > li > a {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none;
}

// aktywny tab bez obramowania
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border: none !important;
  // background-color: transparent !important;
  box-shadow: none;
}

// nav-tab breaker
.nav-tabs > li {
  display: inline-block;
  position: relative; /* potrzebne dla ::after */
  margin-right: 10px; /* odstęp od kolejnego */
}

/* Separator jako pionowa linia między li */
.nav-tabs > li:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 16px;
  background-color: #ccc;
}

}
// promotion item
   .promotion__item {
      position: relative;
      margin: 40px auto;
      font-family: sans-serif;
    }

    .img-wrapper {
      aspect-ratio: 16 / 9;
      position: relative;
      width: 100%;
      height: inherit;
      min-height: 220px;
      overflow: hidden;
      border-radius: 16px;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 0.3s ease;
      }
    }


    .hover-img {
      opacity: 0;
      z-index: 1;
    }

.badges {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  .badge {
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    padding: 4px 8px;
    border-radius: 2px;
    text-transform: uppercase;
    line-height: 1;
    white-space: nowrap;

    &--promo {
      background-color: @bg-red; 
    }

    &--bestseller {
      background-color: @bg-violet;
    }

    &--new {
      background-color: @bg-green;
    }
  }
}




/* cart icon */
.cart-icon {
  position: absolute;
  bottom: 30%;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: @bg-blue;
  background-image: url('./../images/Bag_alt_light (2).svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: bottom 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  z-index: 2;

  @media (max-width: 767px) {
    opacity: 1;
    bottom: 32%;
    right: 10px;
  }
}

/* cart icon hover */
.promotion__item:hover .cart-icon {
  bottom: 42%;
  opacity: 1;
  @media (max-width: 767px) {
    bottom: 100px;
  }
}
