// Ustawienia ogólne strzałek i kropek
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  border: none;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: background-color 0.4s ease;
  button {
    display: none;
  }
  &:hover {
    background-color: black;
  }
}

.slick-prev {
  left: 15px;
}
.slick-next {
  right: 15px;
}

.slick-dots {
}

.slick-list {
  padding-right: 0 !important;
}
.slick-track {
  display: block !important;
}