// COLORS
// backgrounds
@bg-blue: #0068FF;
@bg-gray: #F6F6F6;
@bg-gray-light: #FAFAFA;
@bg-green: #36B588;
@bg-violet: #A70584;
@bg-red: #C40837;

// fonts
@f-blue: #0068FF;
@f-black: #292929;
@f-black2: #2C2E35;

// borders
@br-gray: #E3E3E3;

// radius
@radius: 80px;
