<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Projekt Unlimit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles.css">
  <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Twoja Firma",
  "url": "https://twojafirma.pl",
  "logo": "https://twojafirma.pl/logo.png",
  "sameAs": [
    "https://www.facebook.com/twojafirma",
    "https://www.instagram.com/twojafirma"
  ],
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+48-123-456-789",
    "contactType": "Customer Service",
    "areaServed": "PL",
    "availableLanguage": ["Polish", "English"]
  }
}
</script>

</head>
<body>

  <!-- GÓRNY PASEK -->
  <div class="header-top bolder600">
      <span class="header-top__elem"><img src="<%= require('./images/Vector.svg') %>" alt="telefon" class="img-responsive"> +48 123 456 789</span>
      <span class="breaker hidden-xs">|</span>
      <span class="header-top__elem hidden-xs"><img src="<%= require('./images/edit (9).svg') %>" alt="napisz" class="img-responsive"> Napisz do nas</span>
      <span class="breaker hidden-xs">|</span>
      <span class="header-top__elem hidden-xs"><img src="<%= require('./images/shipping-fast (4).svg') %>" alt="darmowa dostawa" class="img-responsive"> Darmowa dostawa</span>
      <span class="breaker hidden-xs">|</span>
      <span class="header-top__elem hidden-xs"><img src="<%= require('./images/restock (3).svg') %>" alt="telefon" class="img-responsive"> 30 DNI NA DARMOWY ZWROT</span>
  </div>

<!-- NAWIGACJA -->
<nav class="navbar">
  <div class="container regular">

    <!-- MOBILE -->
    <div class="navbar__mobile visible-xs">
      <div class="row">
        <div class="col-xs-4">
          <div class="navbar__logo">
            <img src="<%= require('./images/Logo.svg') %>" alt="Logo" class="img-responsive">
          </div>
        </div>
        <div class="col-xs-4 text-center">
          <div class="navbar__icons">
            <img src="<%= require('./images/User_light.svg') %>" alt="Konto" class="img-responsive">
            <i class="fa fa-heart" title="Ulubione"></i>
            <i class="fa fa-shopping-cart shopping-cart" title="Koszyk"></i>
          </div>
        </div>
        <div class="col-xs-4 text-right">
          <div class="navbar__toggle">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <!-- Overlay wyszukiwarki -->
    <div id="search-overlay-mobile" class="search-overlay">
      <div class="container">
        <h4>Ostatnio wyszukiwane:</h4>
        <ul>
          <li>Produkt 1</li>
          <li>Produkt 2</li>
          <li>Produkt 3</li>
        </ul>
      </div>
    </div>

    <!-- DESKTOP MENU -->
    <div class="navbar__row hidden-xs">
      <div class="navbar__logo col-sm-2">
        <img src="<%= require('./images/Logo.svg') %>" alt="Logo" class="img-responsive">
      </div>

      
      <ul class="nav navbar-nav col-sm-5">
        <li><a href="#">Strona główna</a></li>
        <li class="has-submenu">
          <a href="#" class="submenu-toggle">Produkty</a>
          <div class="megamenu-overlay">
            <div class="megamenu-content container">
              <div class="col-sm-3 col-xs-12 megamenu-content-left">
                <ul>
                  <li><img src="<%= require('./images/botki_60_60px.svg') %>" alt="Konto" class="img-responsive"> <a href="#">Półbuty</a></li>
                  <li><img src="<%= require('./images/balerinki_60_60px 1.svg') %>" alt="Konto" class="img-responsive"> <a href="#">Czułenka</a></li>
                  <li><img src="<%= require('./images/botki_60_60px.svg') %>" alt="Konto" class="img-responsive"> <a href="#">Jazzówki</a></li>
                  <li><img src="<%= require('./images/kozaki_60_60px.svg') %>" alt="Konto" class="img-responsive"> <a href="#">Półbuty</a></li>
                  <li><img src="<%= require('./images/klapki_60_60px 1.svg') %>" alt="Konto" class="img-responsive"> <a href="#">Klapki</a></li>
                  <li><img src="<%= require('./images/klapki_60_60px 1.svg') %>" alt="Konto" class="img-responsive"> <a href="#">Klapki</a></li>
                  <li><a href="#">Pokaż wszystkie</a></li>
                </ul>
              </div>
              <div class="col-sm-9 col-xs-12 megamenu-content-right">
                <div class="megamenu-content-right-submenu">
                  <ul>
                  <li><a href="#">Produkt 1</a></li>
                  <li><a href="#">Produkt 2</a></li>
                  <li><a href="#">Produkt 3</a></li>
                </ul>
                </div>
                <div class="megamenu-content-right-img">
                  <img src="<%= require('./images/1275x1750_product_media_18001-19000_123842-j 1.png') %>" alt="Konto" class="img-responsive">
                </div>
                
              </div>
            </div>
          </div>
        </li>
        <li><a href="#">Sklep</a></li>
        <li><a href="#">Kontakt</a></li>
      </ul>

      <!-- Wyszukiwarka -->
       <form id="search-form" action="/search" method="GET" class="navbar-searchform navbar-left">
        <input type="text" id="search-input" name="q" class="form-control regular" placeholder="Wyszukaj">
        <button type="submit" class="search-icon-btn" aria-label="Wyszukaj">
           <img src="<%= require('./images/Search_light.svg') %>" alt="Logo" class="img-responsive">
        </button>
      </form>

       <!-- Overlay wyszukiwarki -->
      <div id="search-overlay" class="search-overlay container">
        <div class="search-bar">
          <input type="text" placeholder="Wyszukaj" />
        </div>

        <h2>Wyszukiwane produkty</h2>

        <div class="products-container">
          <div class="product-card">
            <img src="https://picsum.photos/id/102/300/300" alt="Produkt 1">
            <div class="product-info">
              <h4>Półbuty mokasyny na grubej podeszwie</h4>
              <small>Zapato | Dostępny</small>
              <span class="price">350,10zł</span>
            </div>
          </div>

          <div class="product-card">
            <img src="https://picsum.photos/id/103/300/300" alt="Produkt 2">
            <div class="product-info">
              <h4>Półbuty skóra naturalna – model 258</h4>
              <small>Zapato | Dostępny</small>
              <span class="price">350,10zł</span>
            </div>
          </div>

          <div class="product-card">
            <img src="https://picsum.photos/id/102/300/300" alt="Produkt 3">
            <div class="product-info">
              <h4>Półbuty mokasyny na grubej podeszwie</h4>
              <small>Zapato | Dostępny</small>
              <span class="price">350,10zł</span>
            </div>
          </div>

          <div class="product-card">
            <img src="https://picsum.photos/id/103/300/300" alt="Produkt 4">
            <div class="product-info">
              <h4>Półbuty skóra naturalna – model 258</h4>
              <small>Zapato | Dostępny</small>
              <span class="price">350,10zł</span>
            </div>
          </div>
        </div>

        <div class="show-all">Pokaż wszystkie</div>
      </div>

      <!-- Ikony -->
      <div class="navbar__icons col-sm-2">
        <div class="navbar__icons__div"><img src="<%= require('./images/User_light.svg') %>" alt="Konto" class="img-responsive"></div>
        <div class="navbar__icons__div"><img src="<%= require('./images/Favorite_light.svg') %>" alt="Ulubione" class="img-responsive"></div>
        <div class="navbar__icons__div shopping-cart"><img src="<%= require('./images/Bag_alt_light.svg') %>" alt="Koszyk" class="img-responsive"></div>
      </div>
    </div>

    <!--  MOBILE MENU -->
    <div class="nav navbar-nav mobile-menu visible-xs slide-in-left">

      <div class="offcanvas offcanvas-start" tabindex="-1" id="mobileMenu">
        <div class="offcanvas-header">
          <h5 class="mobile-menu-head">Menu</h5>
          <button type="button" class="btn mobile-menu-close" data-bs-dismiss="offcanvas">
            <img src="<%= require('./images/menu (27) 1.svg') %>" alt="Konto" class="img-responsive">
          </button>
        </div>
        <div class="offcanvas-body">

          <!-- Linki -->
          <a href="#" class="menu-link">Damskie buty skórzane <i class="fa fa-chevron-right"></i></a>
          <a href="#" class="menu-link">Bony podarunkowe</a>
          <a href="#" class="menu-link">Nowości</a>
          <a href="#" class="menu-link">Bestsellery</a>
          <a href="#" class="menu-link special">% Wyprzedaż %</a>

          <hr class="my-2">

          <a href="#" class="menu-link fw-bold">Zaloguj / Zarejestruj</a>
          <a href="#" class="menu-link">Schowek</a>
          <a href="#" class="menu-link">Koszyk</a>

          <!-- Dolna sekcja -->
          <div class="bottom-section">
            <div class="contact-info">
              <i class="bi bi-telephone"></i> (+48) 000 000 000 <br>
              <i class="bi bi-envelope"></i> sklep@kontakt.com.pl
            </div>
            <div class="social-icons mt-3">
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-tiktok"></i></a>
            </div>
          </div>

        </div>
      </div>
      
    </div>

    <!-- SEARCH FORM (mobile) -->
    <div class="navbar__search-wrapper visible-xs">
      
      <form id="search-form" action="/search" method="GET" role="search" class="navbar-searchform">
        <div class="search-box input-group">
          <input id="search-input-mobile" class="form-control" type="text" placeholder="Wyszukaj"  name="q" />
          <button type="submit" aria-label="Szukaj">
             <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </form>
    </div>

  </div>
</nav>

  <!-- MAIN SLIDER -->
  <section class="slider container">
    <div class="slider__container">
      <div class="slider__item" style="background-image: url('<%= require('./images/222 1.png') %>')">
        <div class="slider__text col-sm-6">
          <h2>Nowa kolekcja</h2>
          <p>Lorem ipsum dolor dolot lorem ipsum dolor dolot</p>
        </div>
        <div class="slider__text slider__text--right col-sm-6">
          <div class="slider__text__btn bold">Zobacz więcej</div>
        </div>
      </div>
      <div class="slider__item" style="background-image: url('<%= require('./images/222 1.png') %>')">
        <div class="slider__text col-sm-6">
          <h2>Najgorętsze trendy tego sezonu</h2>
          <p>Lorem ipsum dolor dolot lorem ipsum dolor dolot</p>
        </div>
        <div class="slider__text slider__text--right col-sm-6">
          <div class="slider__text__btn bold">Zobacz więcej</div>
        </div>
      </div>
      <div class="slider__item" style="background-image: url('https://picsum.photos/id/1016/800/1000')">
        <div class="slider__text col-sm-6">
          <h2>Najgorętsze trendy tego sezonu</h2>
          <p>Lorem ipsum dolor dolot lorem ipsum dolor dolot</p>
        </div>
        <div class="slider__text slider__text--right col-sm-6">
          <div class="slider__text__btn bold">Zobacz więcej</div>
        </div>
      </div>
    </div>
  </section>

<!-- GALERIA GRID -->
<section class="gallery">
  <div class="container">
    <div class="masonry">
      <div class="masonry-item">
        <figure class="hover-figure">
          <img src="<%= require('./images/Rectangle 9197.png') %>" alt="Botki" class="img-responsive">
          <figcaption class="hover-caption">
            <h4>Botki</h4>
          </figcaption>
        </figure>
      </div>
      <div class="masonry-item">
        <figure class="hover-figure">
          <img src="<%= require('./images/Rectangle 9198.png') %>" alt="Czułenka" class="img-responsive">
          <figcaption class="hover-caption">
            <h4>Czułenka</h4>
          </figcaption>
        </figure>
      </div>
      <div class="masonry-item">
        <figure class="hover-figure">
          <img src="<%= require('./images/Rectangle 9198.png') %>" alt="Baleriny" class="img-responsive">
          <figcaption class="hover-caption">
            <h4>Baleriny</h4>
          </figcaption>
        </figure>
      </div>
      <div class="masonry-item">
        <figure class="hover-figure">
          <img src="<%= require('./images/Rectangle 9197.png') %>" alt="Kozaki" class="img-responsive">
          <figcaption class="hover-caption">
            <h4>Kozaki</h4>
          </figcaption>
        </figure>
      </div>
      <div class="masonry-item">
        <figure class="hover-figure">
          <img src="<%= require('./images/Rectangle 9197.png') %>" alt="Sandały" class="img-responsive">
          <figcaption class="hover-caption">
            <h4>Sandały</h4>
          </figcaption>
        </figure>
      </div>
      <div class="masonry-item">
        <figure class="hover-figure">
          <img src="<%= require('./images/Rectangle 9198.png') %>" alt="Mokasyny" class="img-responsive">
          <figcaption class="hover-caption">
            <h4>Mokasyny</h4>
          </figcaption>
        </figure>
      </div>
      <div class="masonry-item">
        <figure class="hover-figure">
          <img src="<%= require('./images/Rectangle 9198.png') %>" alt="Trampki" class="img-responsive">
          <figcaption class="hover-caption">
            <h4>Trampki</h4>
          </figcaption>
        </figure>
      </div>
      <div class="masonry-item">
        <figure class="hover-figure">
          <img src="<%= require('./images/Rectangle 9197.png') %>" alt="Wyprzedaż" class="img-responsive">
          <figcaption class="hover-caption">
            <h4>Wyprzedaż</h4>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>

  </section>
  

<section class="promotions">
  <!-- PROMOCJE | NOWOSCI | BESTSELLERY -->
  <div class="container">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#tab1"  role="tab" data-toggle="tab">Promocje</a></li>
    <li><a href="#tab2"  role="tab" data-toggle="tab">Nowości</a></li>
    <li><a href="#tab3" role="tab" data-toggle="tab">Bestsellery</a></li>
  </ul>
  </div>
  <!-- zakładki -->
  <div class="tab-content">
    <div class="tab-pane fade in active" id="tab1">
      <div class="container">
        <div class="promotions__slider" >

          <div class="promotion__item">
                <div class="product-card">
                  <div class="badge-group">
                    <span class="badge-custom badge-bestseller">BESTSELLER</span>
                  </div>
                  <div class="img-wrapper">
                    <img class="main-img img-responsive" src="https://picsum.photos/id/101/300/300" />
                    <img class="hover-img img-responsive" src="https://picsum.photos/id/102/300/300" />
                  </div>
                  <div class="cart-icon"></div>
                  <div class="product-info">
                    <div class="product-title">Półbuty mokasyny na grubej podeszwie</div>
                    <div class="product-meta">Zapato | Dostępny</div>
                    <div class="product-price">350,10zł</div>
                  </div>
                </div>
          </div>
          <div class="promotion__item">
                <div class="product-card">
                  <div class="badge-group">
                    <span class="badge-custom badge-bestseller">BESTSELLER</span>
                  </div>
                  <div class="img-wrapper">
                    <img class="main-img img-responsive" src="https://picsum.photos/id/101/300/300" />
                    <img class="hover-img img-responsive" src="https://picsum.photos/id/102/300/300" />
                  </div>
                  <div class="cart-icon"></div>
                  <div class="product-info">
                    <div class="product-title">Półbuty mokasyny na grubej podeszwie</div>
                    <div class="product-meta">Zapato | Dostępny</div>
                    <div class="product-price">350,10zł</div>
                  </div>
                </div>
          </div>
          <div class="promotion__item">
                <div class="product-card">
                  <div class="badge-group">
                    <span class="badge-custom badge-bestseller">BESTSELLER</span>
                  </div>
                  <div class="img-wrapper">
                    <img class="main-img img-responsive" src="https://picsum.photos/id/101/300/300" />
                    <img class="hover-img img-responsive" src="https://picsum.photos/id/102/300/300" />
                  </div>
                  <div class="cart-icon"></div>
                  <div class="product-info">
                    <div class="product-title">Półbuty mokasyny na grubej podeszwie</div>
                    <div class="product-meta">Zapato | Dostępny</div>
                    <div class="product-price">350,10zł</div>
                  </div>
                </div>
          </div>
          <div class="promotion__item">
                <div class="product-card">
                  <div class="badge-group">
                    <span class="badge-custom badge-bestseller">BESTSELLER</span>
                  </div>
                  <div class="img-wrapper">
                    <img class="main-img img-responsive" src="https://picsum.photos/id/101/300/300" />
                    <img class="hover-img img-responsive" src="https://picsum.photos/id/102/300/300" />
                  </div>
                  <div class="cart-icon"></div>
                  <div class="product-info">
                    <div class="product-title">Półbuty mokasyny na grubej podeszwie</div>
                    <div class="product-meta">Zapato | Dostępny</div>
                    <div class="product-price">350,10zł</div>
                  </div>
                </div>
          </div>
          <div class="promotion__item">
                <div class="product-card">
                  <div class="badge-group">
                    <span class="badge-custom badge-bestseller">BESTSELLER</span>
                  </div>
                  <div class="img-wrapper">
                    <img class="main-img img-responsive" src="https://picsum.photos/id/101/300/300" />
                    <img class="hover-img img-responsive" src="https://picsum.photos/id/102/300/300" />
                  </div>
                  <div class="cart-icon"></div>
                  <div class="product-info">
                    <div class="product-title">Półbuty mokasyny na grubej podeszwie</div>
                    <div class="product-meta">Zapato | Dostępny</div>
                    <div class="product-price">350,10zł</div>
                  </div>
                </div>
          </div>
          <div class="promotion__item">
                <div class="product-card">
                  <div class="badge-group">
                    <span class="badge-custom badge-bestseller">BESTSELLER</span>
                  </div>
                  <div class="img-wrapper">
                    <img class="main-img img-responsive" src="https://picsum.photos/id/101/300/300" />
                    <img class="hover-img img-responsive" src="https://picsum.photos/id/102/300/300" />
                  </div>
                  <div class="cart-icon"></div>
                  <div class="product-info">
                    <div class="product-title">Półbuty mokasyny na grubej podeszwie</div>
                    <div class="product-meta">Zapato | Dostępny</div>
                    <div class="product-price">350,10zł</div>
                  </div>
                </div>
          </div>
          <div class="promotion__item">
                <div class="product-card">
                  <div class="badge-group">
                    <span class="badge-custom badge-bestseller">BESTSELLER</span>
                  </div>
                  <div class="img-wrapper">
                    <img class="main-img img-responsive" src="https://picsum.photos/id/101/300/300" />
                    <img class="hover-img img-responsive" src="https://picsum.photos/id/102/300/300" />
                  </div>
                  <div class="cart-icon"></div>
                  <div class="product-info">
                    <div class="product-title">Półbuty mokasyny na grubej podeszwie</div>
                    <div class="product-meta">Zapato | Dostępny</div>
                    <div class="product-price">350,10zł</div>
                  </div>
                </div>
          </div>

          <!-- więcej produktów -->
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="tab2">
      <div class="container">
        <div class="bestsellers__slider">

          <div class="promotion__item">
                <div class="product-card">
                  <div class="badge-group">
                    <span class="badge-custom badge-bestseller">BESTSELLER</span>
                  </div>
                  <div class="img-wrapper">
                    <img class="main-img img-responsive" src="https://picsum.photos/id/101/300/300" />
                    <img class="hover-img img-responsive" src="https://picsum.photos/id/102/300/300" />
                  </div>
                  <div class="cart-icon"></div>
                  <div class="product-info">
                    <div class="product-title">Półbuty mokasyny na grubej podeszwie</div>
                    <div class="product-meta">Zapato | Dostępny</div>
                    <div class="product-price">350,10zł</div>
                  </div>
                </div>
          </div>
          <div class="promotion__item">
                <div class="product-card">
                  <div class="badge-group">
                    <span class="badge-custom badge-bestseller">BESTSELLER</span>
                  </div>
                  <div class="img-wrapper">
                    <img class="main-img img-responsive" src="https://picsum.photos/id/101/300/300" />
                    <img class="hover-img img-responsive" src="https://picsum.photos/id/102/300/300" />
                  </div>
                  <div class="cart-icon"></div>
                  <div class="product-info">
                    <div class="product-title">Półbuty mokasyny na grubej podeszwie</div>
                    <div class="product-meta">Zapato | Dostępny</div>
                    <div class="product-price">350,10zł</div>
                  </div>
                </div>
          </div>
          <div class="promotion__item">
                <div class="product-card">
                  <div class="badge-group">
                    <span class="badge-custom badge-bestseller">BESTSELLER</span>
                  </div>
                  <div class="img-wrapper">
                    <img class="main-img img-responsive" src="https://picsum.photos/id/101/300/300" />
                    <img class="hover-img img-responsive" src="https://picsum.photos/id/102/300/300" />
                  </div>
                  <div class="cart-icon"></div>
                  <div class="product-info">
                    <div class="product-title">Półbuty mokasyny na grubej podeszwie</div>
                    <div class="product-meta">Zapato | Dostępny</div>
                    <div class="product-price">350,10zł</div>
                  </div>
                </div>
          </div>
          <div class="promotion__item">
                <div class="product-card">
                  <div class="badge-group">
                    <span class="badge-custom badge-bestseller">BESTSELLER</span>
                  </div>
                  <div class="img-wrapper">
                    <img class="main-img img-responsive" src="https://picsum.photos/id/101/300/300" />
                    <img class="hover-img img-responsive" src="https://picsum.photos/id/102/300/300" />
                  </div>
                  <div class="cart-icon"></div>
                  <div class="product-info">
                    <div class="product-title">Półbuty mokasyny na grubej podeszwie</div>
                    <div class="product-meta">Zapato | Dostępny</div>
                    <div class="product-price">350,10zł</div>
                  </div>
                </div>
          </div>
          <div class="promotion__item">
                <div class="product-card">
                  <div class="badge-group">
                    <span class="badge-custom badge-bestseller">BESTSELLER</span>
                  </div>
                  <div class="img-wrapper">
                    <img class="main-img img-responsive" src="https://picsum.photos/id/101/300/300" />
                    <img class="hover-img img-responsive" src="https://picsum.photos/id/102/300/300" />
                  </div>
                  <div class="cart-icon"></div>
                  <div class="product-info">
                    <div class="product-title">Półbuty mokasyny na grubej podeszwie</div>
                    <div class="product-meta">Zapato | Dostępny</div>
                    <div class="product-price">350,10zł</div>
                  </div>
                </div>
          </div>
          <div class="promotion__item">
                <div class="product-card">
                  <div class="badge-group">
                    <span class="badge-custom badge-bestseller">BESTSELLER</span>
                  </div>
                  <div class="img-wrapper">
                    <img class="main-img img-responsive" src="https://picsum.photos/id/101/300/300" />
                    <img class="hover-img img-responsive" src="https://picsum.photos/id/102/300/300" />
                  </div>
                  <div class="cart-icon"></div>
                  <div class="product-info">
                    <div class="product-title">Półbuty mokasyny na grubej podeszwie</div>
                    <div class="product-meta">Zapato | Dostępny</div>
                    <div class="product-price">350,10zł</div>
                  </div>
                </div>
          </div>
          <div class="promotion__item">
                <div class="product-card">
                  <div class="badge-group">
                    <span class="badge-custom badge-bestseller">BESTSELLER</span>
                  </div>
                  <div class="img-wrapper">
                    <img class="main-img img-responsive" src="https://picsum.photos/id/101/300/300" />
                    <img class="hover-img img-responsive" src="https://picsum.photos/id/102/300/300" />
                  </div>
                  <div class="cart-icon"></div>
                  <div class="product-info">
                    <div class="product-title">Półbuty mokasyny na grubej podeszwie</div>
                    <div class="product-meta">Zapato | Dostępny</div>
                    <div class="product-price">350,10zł</div>
                  </div>
                </div>
          </div>

          <!-- więcej produktów -->
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="tab3">
      <div class="container"><div class="row"><div class="col-xs-12">To jest zawartość zakładki 3.</div></div></div>
    </div>
  </div>
</div>
</section>

  <!-- NEWSLETTER -->
  <section class="newsletter">
    <div class="container">
      <div class="newsletter__container row">
        <div class="newsletter__obj col-sm-2 hidden-xs"></div>
        <div class="newsletter__text col-md-5 col-xs-12">
          <p class="newsletter__text__header">CHCESZ OTRZYMAĆ 5% ZNIŻKI NA SWOJE ZAKUPY?</p>
          <span class="newsletter__text__text">Zapisz się do newslettera i jako pierwsza dowiedz się o nowościach, promocjach i ofertach specjalnych.</span>
        </div>
        <div class="newsletter__form col-md-5 col-xs-12">

          <form id="newsletter-form" class="navbar-searchform" action="/" method="GET">
            <input class="form-control regular" type="email" id="email" placeholder="Twój e-mail" data-toggle="popover" data-placement="top" data-content="<div class='alert alert-warning' style='margin:0; padding:0 font-size: 13px;'>
                       <span class='glyphicon glyphicon-exclamation-sign' aria-hidden='true'></span> 
                       Proszę podać prawidłowy adres email
                     </div>">
            <button type="submit" class="search-icon-btn bg-black" aria-label="Wyślij">
              <img src="<%= require('./images/XMLID_132_.svg') %>" alt="" class="img-responsive">
            </button>
          </form>
          <span>
          <label class="checkmark-container">
            <input type="checkbox">
            <span class="checkmark"></span>
            Akceptuję regulamin i politykę prywatności.
          </label>
          
        </span>
        </div>
      </div>
    </div>
  </section>

  <!-- STOPKA -->


<footer class="footer">
  <div class="container">
  <div class="footer__columns">
    
    
    <!-- Pierwszy wiersz: 5 kolumn -->
    <div class="row1" style="width: 100%;">
      <div class="footer__col col-custom">
        <h4 class="footer__toggle">O nas</h4>
        <ul class="footer__list">
          <li><a href="#">Poznajmy się</a></li>
          <li><a href="#">Skontaktuj się z nami</a></li>
          <li><a href="#">Dołącz się</a></li>
        </ul>
      </div>
      <div class="footer__col col-custom">
        <h4 class="footer__toggle">Informacje</h4>
        <ul class="footer__list">
          <li><a href="#">Poznajmy się</a></li>
          <li><a href="#">Skontaktuj się z nami</a></li>
          <li><a href="#">Dołącz się</a></li>
        </ul>
      </div>
      <div class="footer__col col-custom">
        <h4 class="footer__toggle">Twoje konto</h4>
        <ul class="footer__list">
          <li><a href="#">Poznajmy się</a></li>
          <li><a href="#">Skontaktuj się z nami</a></li>
          <li><a href="#">Dołącz się</a></li>
        </ul>
      </div>
      <div class="footer__col col-custom">
        <h4 class="footer__toggle">Obsługa klienta</h4>
        <ul class="footer__list">
          <li><a href="#">Poznajmy się</a></li>
          <li><a href="#">Skontaktuj się z nami</a></li>
          <li><a href="#">Dołącz się</a></li>
        </ul>
      </div>
      <div class="footer__col col-custom">
        <h4 class="footer__toggle">Skontaktuj się z nami</h4>
        <ul class="footer__list">
          <li><a href="#">Poznajmy się</a></li>
          <li><a href="#">Skontaktuj się z nami</a></li>
          <li><a href="#">Dołącz się</a></li>
        </ul>
      </div>
    </div>

    <hr class="breaker" />

    <div class="row row-bottom">
      <div class="col-sm-6 col-sm-12 footer-delivery">
        <div class="footer-header">Dostawa i płatność</div>
        <div class="footer-delivery-img">
          <img class="img-responsive" src="<%= require('./images/4.svg') %>" alt="Facebook"/>
          <img class="img-responsive" src="<%= require('./images/8.svg') %>" alt="Instagram"/>
          <img class="img-responsive" src="<%= require('./images/3.svg') %>" alt="tik-tok"/>
          <img class="img-responsive" src="<%= require('./images/4.svg') %>" alt="Facebook"/>
          <img class="img-responsive" src="<%= require('./images/8.svg') %>" alt="Instagram"/>
          <img class="img-responsive" src="<%= require('./images/3.svg') %>" alt="tik-tok"/>
        </div>
      </div>
      <div class="col-sm-6 col-sm-12 footer-social-media">
        <div class="footer-header">Social media</div>
        <div class="footer-social-media-img">
          <img class="img-responsive" src="<%= require('./images/facebook (50).svg') %>" alt="Facebook"/>
          <img class="img-responsive" src="<%= require('./images/instagram (48).svg') %>" alt="Instagram"/>
          <img class="img-responsive" src="<%= require('./images/tik-tok (6).svg') %>" alt="tik-tok"/>
        </div>
        
      </div>
    </div>
  </div>
  </div>
</footer>


<!-- PANEL KOSZYKA -->
<div class="cart-overlay"></div>
<div class="cart-container cart-sidebar">

  <div class="cart-header">
    Koszyk <span>(2 sztuki)</span>
    <div class="delete-btn close-cart">
      <img src="<%= require('./images/circle-xmark 1.svg') %>" alt="">
    </div>
  </div>

  <div class="cart-item">
    <img src="https://picsum.photos/id/1011/80" alt="Produkt 1">
    <div class="item-info">
      <h4>Półbuty mokasyny na grubej podeszwie</h4>
      <div class="price">1 szt. x 129,99 zł</div>
    </div>
    <div class="delete-btn">
      <img src="<%= require('./images/trash (1).svg') %>" alt="">
    </div>
  </div>

  <div class="cart-item">
    <img src="https://picsum.photos/id/1012/80" alt="Produkt 2">
    <div class="item-info">
      <h4>Półbuty skóra naturalna model 258</h4>
      <div class="price">1 szt. x 129,99 zł</div>
    </div>
    <div class="delete-btn">
      <img src="<%= require('./images/trash (1).svg') %>" alt="">
    </div>
  </div>

  <div class="cart-summary">
    <div class="free-shipping">
      <img src="<%= require('./images/box-open.svg') %>" alt=""> Do darmowej dostawy brakuje: <strong style="margin-left: 4px; color: #007bff;">39,99 zł</strong>
    </div>
    <div class="progress-bar-container">
      <div class="progress-bar-fill"></div>
    </div>
    <div class="total">
      <span>Razem do zapłaty:</span>
      <span>129,99 zł</span>
    </div>
    <a href="#" class="checkout-btn">Przejdź do koszyka</a>
  </div>

</div>

<!--<div class="cart-sidebar">
  <div class="cart-header">
    <h3>Twój koszyk</h3>
    <button class="close-cart">&times;</button>
  </div>
  <div class="cart-body">
    <div class="cart-item">
      <img src="https://picsum.photos/seed/p1/60/60" alt="Produkt 1">
      <div class="cart-info">
        <p>Produkt 1</p>
        <span>1 × 99,00 zł</span>
      </div>
    </div>
    <div class="cart-item">
      <img src="https://picsum.photos/seed/p2/60/60" alt="Produkt 2">
      <div class="cart-info">
        <p>Produkt 2</p>
        <span>2 × 49,00 zł</span>
      </div>
    </div>
    <div class="cart-summary">
      <strong>Suma: 197,00 zł</strong>
      <button class="btn btn-primary btn-block">Do kasy</button>
    </div>
  </div>
</div>-->
<p class="text-center">&copy; AKC</p>
</body>